**/.DS_Store
**/.history
**/.vscode

**/node_modules/
**/dist/
*.log

.nx/

.svelte-kit/

/tmp/

.astro/

.venv

# git rm --cached ./auto-import-components.d.ts
apps/admin/auto-import-components.d.ts
apps/admin/auto-import-vue.d.ts
