registry="https://registry.npmmirror.com/"
# strict-peer-dependencies=true
shamefully-hoist=true # 依赖提升，当源码引用子包时，确保子包都能访问这些依赖
prefer-workspace-packages=true # 优先使用工作区中的包
link-workspace-packages=true

# 提升开发依赖到根目录
hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
hoist-pattern[]=*typescript*
hoist-pattern[]=*vite*
hoist-pattern[]=*@types/*
