:root {
  background-color: #f6f6f6;
  line-height: 24px;
  text-size-adjust: 100%;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0f0f0f;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-top: 10vh;
  text-align: center;
}

.logo {
  padding: 1.5em;
  height: 6em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: inherit;
  font-weight: 500;
  color: #646cff;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
  font-family: inherit;
  font-weight: 500;
  font-size: 1em;
  color: #0f0f0f;
  transition: border-color 0.25s;
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #2f2f2f;
    color: #f6f6f6;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    background-color: #0f0f0f98;
    color: #fff;
  }
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #ffe21c);
}
