.vv-card-table-wrapper {
  flex: 1;

  .el-card__body {
    height: calc(100% - 96px); // 48 header + 32 pagination + 16 padding bottom
    .el-table {
      height: 100%;
    }
  }

  .vv-card-table-header-actions {
    gap: 16px;
  }
}

.vv-search-condition {
  margin-bottom: 16px;

  .el-form-item {
    margin-bottom: 16px;
  }

  .el-card__body {
    padding-bottom: 0;
  }

  .el-form--inline .el-select,
  .el-form--inline .el-date-editor,
  .el-form--inline .el-input {
    width: 228px;
  }
}

.vv-tree-dept {
  width: 180px;

  .el-card__body {
    padding: 0;
  }

  .el-input__wrapper {
    width: 100%;
    height: 32px;
  }
}
