---
export function getStaticPaths() {
  return [
    { params: { doc: "doc1" } },
    { params: { doc: "doc2" } },
    { params: { doc: "doc3" } },
  ];
}
const { doc } = Astro.params;
---

<h1>{doc}</h1>
